-----BEGIN CERTIFICATE-----
MIIDlzCCAn+gAwIBAgIUE61e1pEIwBZUm1Ueon21F+tz3GUwDQYJKoZIhvcNAQEL
BQAwWzELMAkGA1UEBhMCVVMxETAPBgNVBAgMCENvbG9yYWRvMRUwEwYDVQQHDAxG
b3J0IENvbGxpbnMxIjAgBgNVBAoMGUNvbG9yYWRvIFN0YXRlIFVuaXZlcnNpdHkw
HhcNMjUxMTE4MTc1NTI0WhcNMjYxMTE4MTc1NTI0WjBbMQswCQYDVQQGEwJVUzER
MA8GA1UECAwIQ29sb3JhZG8xFTATBgNVBAcMDEZvcnQgQ29sbGluczEiMCAGA1UE
CgwZQ29sb3JhZG8gU3RhdGUgVW5pdmVyc2l0eTCCASIwDQYJKoZIhvcNAQEBBQAD
ggEPADCCAQoCggEBAMd7VjKkB9Bg8RkPtkNxd469fkt8gq5637NG/pH9kcAYv6Rq
09SErZSzdTjY44g1q6d50QrM+KrKjlHsVOQekh9V+IEZrybWJs9jm20n/eP4Hbo+
dR3Nd0nRSH+GQ19gIpuV1fVVVZtNAylzwVNTuyysXjVWy8kd0r8r+eG+HbNQpeyJ
GTTmLRVAlJQdaNIfzpcEGo5kUYcjW+Tu66h3BrHhmtCyZXofuYBjpqdKWwmHXV/C
nXJXiEQj0fDdNEAukpkXMQwDfZMhez5t8mm+oxyA6TvKzePVzFgzZ8ZNeieNe4dt
kShy1AP2xTarhN9X79lG820KZiqe/vU6x0S6uL0CAwEAAaNTMFEwHQYDVR0OBBYE
FDsbxJwxM1gJvZV9gqQul3PaF4i9MB8GA1UdIwQYMBaAFDsbxJwxM1gJvZV9gqQu
l3PaF4i9MA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAH3H3ahD
hTfgndlVPctsZIx0Cx5n9yFlzkgZFN6cwx/2qnfz6Hih6H7kVaxNjHZto1JQT6r3
yfUIjQaJHGLqyIQLfUFjDhTJfP+HNREiSQKphHb5yQ7EO9OtgPkRL+0+D+NFsMnj
wPhAFTTO4hVr6kV8MXMfP7PcIB7s+XhB1I7nUjDB3NjKouj4dWS+1KcZdH5wEU9W
E1JA3Oud86hQYhARID8PWPanBQ+EK9dy/XHjgO5YlQsfvAAvsICuf2MA/BJv9Wk4
zbS75vLgvZI3OmdgbePTZby7t8ncz2CLoh7pGkQSallmxGGmepaUDm//YnKeQJSf
KMh6euB0OuEwGL4=
-----END CERTIFICATE-----
